{
  "extends": [
    "plugin:bpmn-io/browser"
  ],
  "parserOptions": {
    "ecmaVersion": 2023
  },
  "overrides": [
    {
      "files": [ "karma.config.cjs", "scripts/*.js" ],
      "extends": "plugin:bpmn-io/node"
    }
  ]
}
