@use "@carbon/react";
@use "@carbon/react/scss/themes";
@use "@carbon/react/scss/theme";

:root {
	@include theme.theme(themes.$g10);
}

@import '@carbon/colors';
@import '@carbon/styles/scss/utilities/box-shadow';

@import '@carbon/styles/scss/components/inline-loading';

* {
  box-sizing: border-box;
}

html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
  background-color: $white;
}

body {
  display: flex;
}

.bjs-powered-by {
  display: none;
}

#container {
  flex-grow: 1;
}

#properties {
  background: #f8f8f8;
  border-left: solid 1px #ccc;
  width: 300px;
}

.suggestions-overlay {
  display: flex;

  .suggest-refactoring {
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }
  }

  button {
    border-radius: 100%;
  }

  svg {
    margin-block-start: -1px !important;
  }
}

.djs-overlays.djs-element-hidden {
  display: block !important;
}

.suggestions-overlay-element {
  z-index: 100000;
}

.suggestions-overlay-global {
  z-index: 100001;
}

.suggestions-overlays-rect {
  fill: #0f62fe;
  fill-opacity: 0.1;
  stroke: #0f62fe;
  stroke-width: 2px;
}

.suggestions-overlays-active .suggestions-overlay-element,
.suggestions-overlays-active .djs-overlay-context-pad {
  display: none;
}

.djs-overlays.selected .suggestions-overlay-element {
  display: none;
}

.djs-context-pad {
  padding: 0 !important;
  overflow: hidden;

  .group {
    padding: 5px;

    &[data-group="suggest-refactoring"].active {
      background-color: #0f62fe;

      .entry.suggest-refactoring {
        background-color: #0f62fe;
        color: white;
      
        &:hover {
          background-color: #0050e6;
        }
      }
    }
  }
}

.suggest-refactoring {
  --cds-interactive: white;
  .cds--loading {
    line-height: 1em;
  }

  .cds--loading--small {
    block-size: 1em;
    inline-size: 1em;
  }

  .no-refactorings-available {
    cursor: not-allowed;
  }
}
